@{
    ViewData["Title"] = "Coffee";
}

<div class="text-center">
    <h1 class="display-4">Kaffe</h1>
     <h1 class="display-6">Vårt utbud.</h1>
</div>

<img src="/img/products/gevalia.jpg" />

<img src="/img/products/zoegas.jpg" />

<img src="/img/products/löfbergs.jpg" />

<img src="/img/products/lavazza.jpg" />
